<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="logo">
        <h1><%= link_to("MyApp", "/") %></h1>
      </div>
      <div class="header_btn">
        <% if signed_in? then %>
          <li><%= link_to("新規投稿", user_index_path) %></li>
          <li><%= link_to("プロフィール変更", edit_user_registration_path) %> </li>
          <li><%= link_to("サインアウト",destroy_user_session_path, method: :delete) %></li>
        <% else %>
          <li><%= link_to("ログイン", new_user_session_path) %></li>
          <li><%= link_to("新規登録", new_user_registration_path) %></li>
        <% end %>
      </div>
    </header>
    <main>
      <%= react_component('Message', {noticeMessage: notice, alertMessage: alert}) %>
      <div class="content">
        <%= yield %>
      </div>
    </main>
    
    <footer>
      <div class="footer">
        @2021 Yokko
      </div>
    </footer>
  </body>
  

</html>