<!DOCTYPE html>
<html>
  <head>
    <title>MyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= react_component('Header', {signed_in: signed_in?}) %>
    <main>
      <%= react_component('Message', {notice: notice, alertMessage: alert}) %>
      <%= yield %>
    </main>
    
    <footer>
      <div class="footer">
        @2021 Yokko
      </div>
    </footer>
  </body>
  

</html>